<!doctype html>
<html lang="en">
{% import "macros/head.html" as head %}
{{head.title('Click App')}}
<body>
    <div class="wrapper">
        {% include "partials/sidebar.html" %}
        {% include "partials/navbar.html" %}
        {% import "macros/forms.html" as form %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card data-tables">
                            <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                                <div class="toolbar">
                                </div>
                                <div class="fresh-datatables">
                                    <table id="userTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <!-- <th data-sortable="false">Picture</th>     -->
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Contact Number</th>
                                                <th>Location</th>
                                                <th data-sortable="false">Status</th>
                                                <th data-sortable="false">Action</th>
                                                <th data-sortable="false"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit User Modal -->
    <div class="modal fade modal-primary" id="editUser" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4>Edit User</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{admin_url}}users/edit/" enctype="multipart/form-data" id="Validation" onkeypress="return event.keyCode != 13;">
                        <div id="message">
                        </div>
                        {{form.hidden('id',body.id,'',"required=true")}}

                        {{form.form_group('First Name','text','firstName',body.firstName,'',"required=true")}}

                        {{form.form_group('Last Name','text','lastName',body.lastName,'',"required=true")}}

                        {{form.form_group('Phone Number','text','mobile',body.mobile,'',"number=true",'maxLength=10',"required=true")}}

                        {{form.form_group('Location','text','location',body.location,'',"required=true","id=editLocation")}}

                        {{form.hidden('latitude',body.latitude,'')}}
                        {{form.hidden('longitude',body.longitude,'')}}

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <button type="button" class="click btn btn-primary">Browse</button>
                                </div>
                                <input type="file" name="picture" style="display:none"/>
                                <img class="img" src="" height="80">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" class="btn btn-wd btn-primary">Update User</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
</body>
{% include "partials/core_js.html" %}
{% import "macros/plugins.html" as plugins %} 
{{plugins.script('bootstrap-switch')}}
{{plugins.script('sweetalert2.min')}}
{{plugins.script('bootstrap-tagsinput')}}
{{plugins.script('jquery.validate.min')}}
{{plugins.script('jquery.dataTables.min')}}
{{plugins.script('dropzone')}}
{{plugins.script('light-bootstrap-dashboard')}}
{{plugins.script('bootstrap-selectpicker')}}
{{plugins.script('demo')}}
{{plugins.script('maps.googleapis.com/maps/api/')}}
{% include "partials/validation.html" %}
{% include "partials/functions.html" %}
<script>
$(document).ready(function() {

    var editLocation = document.getElementById('editLocation');
    new google.maps.places.Autocomplete(editLocation);  

    {% if error_flash %}
        demo.showNotification('top','center','{{ error_flash }}','danger','nc-icon');
    {% endif %}

    {% if messages.error %}
        demo.showNotification('top','center','{{ error_flash }}','danger','nc-icon');
    {% endif %}  

    $('#userTable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
        ],
        aaSorting:[[0,"desc"]],
        "scrollX": true,
        //dom: 'Bfrtip',
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Search records",
        },
        //"bPaginate": false,
        //"bInfo": false,
        processing:true,
        serverSide:true,
        ajax:{
            url:'{{admin_url}}users/find',
            type:'POST',
            "dataSrc": function ( json ) {
                $(document).ready(function(){

                    $("[data-toggle='switch']").bootstrapSwitch();

                    setToggleState('switch','{{admin_url}}users/status');
                });

                //console.log(json)
                var arr=[];
                for (var i in json.data)
                {
                    var status;
                    json.data[i].status?status='checked':status='';
                    arr.push({
                    's_no':'<span style="display:none">'+json.data[i]._id+'</span>',
                    // 'picture':'<img src="{{image_url}}'+json.data[i].picture+'" width ="80">' ,
                    'firstName':json.data[i].firstName+'<span style="display:none">'+json.data[i]._id+'</span>',
                    'lastName':json.data[i].lastName,
                    'email':json.data[i].email,
                    'mobile':json.data[i].mobile,
                    'location':json.data[i].location,
                    'status':"<input class='check' type='checkbox'"+status+" data-toggle='switch' data-on-color='primary' data-off-color='primary' data-on-text='' data-off-text=''>",
                    'action':'<div class="text-center"><a href="javascript:void(0)" class="btn btn-round  btn-icon btn-primary edit" data-toggle="modal" data-target="#editUser" rel="tooltip" title="Edit User"><i class="fa fa-edit"></i></a><br/><a onclick=demo.showSwal("warning-message-and-confirmation","{{admin_url}}users/delete/'+json.data[i]._id+'","user","{{admin_url}}users") href="javascript:void(0)" class="btn btn-round btn-icon btn-primary remove" rel="tooltip" title="Delete User"><i class="fa fa-trash-o"></i></a></div>',    
                    'noUse':''
                    });
                }

                //Make your callback here.
                return arr;
            } 
        },
        
        "columns": 
        [
            { "data": "s_no" },
            // { "data": "picture" ,"width":"100%" },
            { "data": "firstName" ,"width":"15%" },
            { "data": "lastName" ,"width":"15%" },
            { "data": "email" ,"width":"15%" },
            { "data": "mobile" ,"width":"15%" },
            { "data": "location" ,"width":"15%" },
            { "data": "status" ,"width":"15%" },
            { "data": "action" ,"width":"15%" },
            { "data": "noUse"}
        ],
        buttons: [
            {
                text: 'XLSX',
                action: function ( e, dt, button, config ) {
                    var fileName='ClickApp'+'_'+'Users'+'_'+new Date().toLocaleString()+'.xlsx';
                    $.get('{{admin_url}}users/xlsx',function(data){
                        console.log(data);
                        $.fn.dataTable.fileSave(
                            new Blob( [  data  ] ),
                            fileName
                        );
                    });
 
                }
            }
        ]
    }).column(0).visible(false);

    checkLocation('#Validation');

    triggerFile('#Validation');

    onFileChange('#Validation');

    $(document).on('click','.edit',function(){
        var id=$(this).parents('tr').find('td').eq(0).find('span').html();

        $.get('{{admin_url}}users/view/'+id,function(data){
            var {mobile,picture,location,latitude,longitude,firstName,lastName}=data;
            $('#Validation [name="id"]').val(id);
            $('#Validation [name="longitude"]').val(longitude);
            $('#Validation [name="latitude"]').val(latitude);
            $('#Validation [name="location"]').val(location);
            $('#Validation [name="firstName"]').val(firstName);
            $('#Validation [name="lastName"]').val(lastName);
            $('#Validation [name="mobile"]').val(mobile);
            var img=picture; 
            img ? img='{{admin_image_url}}'+img:img="";      
            $('#Validation .img').attr('src',img);
        });
    });
});
</script>
</html>